<!-- features-area start -->
<div id="sumate" class="features-area pt-100 pb-50">
    <div class="">

        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 ">
                <div class="area-title text-center ">
                    <h1 class="mb-15 text-kunumi"> <b>SUMATE</b></h1>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 pt-50 pb-50" style="background-color: white;">

                <div class="container">

                    <div class="row" style="margin-left: 50px;">
                        <div class="col-xl-6">

                            <h2 style="color: gray;">
                                Aliadas <br>
                                <span class=" text-kunumi">AMIGAS</span>
                            </h2>

                            <div style="padding-top: 20px;">

                                <h4 style="color: gray;">
                                    Tu empresa más cerca de madres y padres.
                                </h4>

                                <p style="font-size: 24px; font-weight: 300; word-spacing: 5px; line-height: 1.3;">
                                    Subscribite para ser parte del mapa en
                                    el menú <b>“Servicios”</b> donde padres y madres podrán encontrarte
                                    y conectarse contigo rápidamente para conocer tus productos y servicios.
                                </p>
                            </div>

                        </div>
                        <div class="col-xl-1"></div>
                        <div class="col-xl-5">
                            <div class=" wow fadeInLeft" data-wow-delay="0.2s">
                                <img class="mt-120 img" src="assets/img/sumate/celular1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-btn text-center mt-100">
                        <a href="#modal-sumate" (click)="asunto='Quiero ser aliada amiga'" data-toggle="modal"
                            data-target="#modal-sumate" class="btn red-gradient" data-animation="fadeInUp"
                            data-delay=".7s">Suscribir</a>
                    </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 red-gradient pt-50 pb-50" id="full-aliadas-estrategicas">

                <div class="container">

                    <div class="row" style="margin-right: 20px;">

                        <div class="col-xl-5">
                            <div class=" wow fadeInLeft" data-wow-delay="0.2s">
                                <img class="mt-150 img" src="assets/img/sumate/celular2.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-1"></div>

                        <div class="col-xl-6">

                            <h2 style="color: rgb(214, 214, 214);">
                                Aliadas <br>
                                <span class="text-white">ESTRATÉGICAS</span>
                            </h2>

                            <div style="padding-top: 20px;">

                                <h4 class="text-white">
                                    Tu empresa socialmente comprometida con madres y padres.
                                </h4>

                                <p class="text-white"
                                    style="font-size: 24px; font-weight: 300; word-spacing: 4px; line-height: 1.3;">
                                    Empresas que desean acompañar y aportar financieramente en forma sostenida las
                                    acciones de Kunumi para que padres y madres puedan acceder a información de calidad
                                    y así contribuir con la salud materno infantil del nuestro país.
                                </p>
                            </div>

                        </div>

                    </div>

                    <div class="slider-btn text-center mt-50">
                        <a href="#modal-sumate" (click)="asunto='Quiero ser aliada estratégica'" data-toggle="modal"
                            data-target="#modal-sumate" class="btn btn-white" data-animation="fadeInUp"
                            data-delay=".7s">Suscribir</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 red-gradient pt-50 pb-50" id="res-aliadas-estrategicas"
                style="display: none;">

                <div class="container">

                    <div class="row" style="margin-left: 20px;">



                        <div class="col-xl-6">

                            <h2 style="color: rgb(214, 214, 214);">
                                Aliadas <br>
                                <span class="text-white">ESTRATÉGICAS</span>
                            </h2>

                            <div style="padding-top: 20px;">

                                <h4 class="text-white">
                                    Tu empresa socialmente comprometida con madres y padres.
                                </h4>

                                <p class="text-white"
                                    style="font-size: 24px; font-weight: 300; word-spacing: 4px; line-height: 1.3;">
                                    Empresas que desean acompañar y aportar financieramente en forma sostenida las
                                    acciones de Kunumi para que padres y madres puedan acceder a información de calidad
                                    y así contribuir con la salud materno infantil del nuestro país.
                                </p>
                            </div>

                        </div>

                        <div class="col-xl-1"></div>
                        <div class="col-xl-5">
                            <div class=" wow fadeInLeft" data-wow-delay="0.2s">
                                <img class="mt-150 img" src="assets/img/sumate/celula2.png" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="slider-btn text-center mt-50">
                        <a href="#modal-sumate" (click)="asunto='Quiero ser aliada estratégica'" data-toggle="modal"
                            data-target="#modal-sumate" class="btn btn-white" data-animation="fadeInUp"
                            data-delay=".7s">Suscribir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features-area start -->


<div class="modal fade" id="modal-sumate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold pull-left">{{asunto}}</h5>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">


                <div class="container">
                    <div class="contact-form mb-50" data-wow-delay=".3s">
                        <form class="contactform" ngNativeValidate #f="ngForm" (ngSubmit)="sendEmail( f )">
                            <label for="">Nombre:</label>
                            <input name="nombre" [(ngModel)]="nombre" type="text" placeholder="" required>

                            <label for="">Correo electrónico: <i>(opcional)</i> </label>
                            <input name="correo" [(ngModel)]="correo" type="email" placeholder="">

                            <label for="">Número de contacto:</label>
                            <input name="telefono" [(ngModel)]="telefono" type="text" placeholder="" required>

                            <label for="">Mensaje: <i>(opcional)</i> </label>
                            <textarea name="cuerpo" [(ngModel)]="cuerpo" cols="30" rows="10" placeholder=""></textarea>

                            <button class="btn red-gradient pull-right" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>



            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->