<div id="about" class=" pt-100 pb-50 wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="">
                    <h3 class="mb-20" style="font-weight: 400;">¿Qué es <span class="text-kunumi"> <b> K U N U M I ?</b>
                        </span> </h3>
                    <p style="font-size: 32px;
                    font-weight: 100;
                    line-height: 40px;
                    word-spacing: 10px;">Acompañamos y
                        empoderamos <br>
                        a Mamá y Papá para que
                        sean protagonistas de
                        esta etapa maravillosa y
                        desafiante. </p>


                </div>
            </div>
            <div class="col-xl-7 col-lg-7" style="margin-left: -150px;">
                <div class="">
                    <img src="assets/img/about/app.png" alt="about app">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="about" class="about-app-area red-gradient pt-140 wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about-app">
                    <h3 class="color-white text-center">¡CHAU A LOS TABÚES! </h3>
                    <h3 class="color-white text-center"> ¡CHAU DESINFORMACION!</h3>
                    <p class="text-center color-white" style="font-size: 24px;     line-height: 1.5;
                    font-weight: 300;">Brindamos orientaciones sobre
                        <b>MATERNIDAD, PATERNIDAD Y CRIANZA
                        </b>
                        de los
                        principales referentes de la salud materno infantil del país y <b>OFERTAS</b> de comercios.
                    </p>
                    <br>
                    <h3 class="text-center color-white">¡D E S C A R G Á!</h3>
                    <div class="get-app mt-30 text-center">
                        <a href="https://play.google.com/store/apps/details?id=py.com.ideasweb.kunumi"
                            target="_blank"><i class="fab fa-google-play"></i>
                            <p>Disponible en <br><b>Play Store</b></p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-app-thumb">
                    <img src="assets/img/about/app1.png" alt="about app">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-app-area end -->