<!-- team-area start -->
<div id="team" class="team-area pos-relative red-gradient pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 ">
                <div class="area-title white-text text-center mb-60">
                    <h2 class="mb-15">Somos el <b>corazón</b> de Kunumi </h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-circle white-bg text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                            <div class="team-thumb mb-25">
                                <img src="assets/img/team/alcira.jpg" height="162" alt="" class="rounded-circle">
                            </div>
                            <div class="team-content-circle">
                                <h5>Alcira Añazco</h5>
                                <span>Co-Fundadora y Directora Ejecutiva</span>
                                <div class="team-social mt-10">
                                    <a href="https://www.linkedin.com/in/alcira-a%C3%B1azco-gayoso/" target="_blank"><i
                                            class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-circle white-bg text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                            <div class="team-thumb mb-25">
                                <img src="assets/img/team/rosalba.jpg" height="162" alt="" class="rounded-circle">
                            </div>
                            <div class="team-content-circle">
                                <h5>Rosalba González</h5>
                                <span>Co-Fundadora y Dirección de Proyectos y Administración</span>
                                <div class="team-social mt-10">
                                    <a href="https://www.linkedin.com/in/mar%C3%ADa-rosalba-gonz%C3%A1lez-almeida/"
                                        target="_blank"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-circle white-bg text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                            <div class="team-thumb mb-25">
                                <img src="assets/img/team/cinthia1.jpg" height="162" alt="" class="rounded-circle">
                            </div>
                            <div class="team-content-circle">
                                <h5>Cinthia Silvero</h5>
                                <span>Co-Fundadora y Dirección de Proyectos y Consultoria</span>
                                <div class="team-social mt-10">
                                    <a href="https://www.linkedin.com/in/cinthia-silvero-b0b319a4/" target="_blank"><i
                                            class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-circle white-bg text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                            <div class="team-thumb mb-25">
                                <img src="assets/img/team/nancy.jpg" height="162" alt="" class="rounded-circle">
                            </div>
                            <div class="team-content-circle">
                                <h5>Nancy Ramos</h5>
                                <span>Co-Fundadora y Dirección de Proyectos</span>
                                <div class="team-social mt-10">
                                    <a href="https://www.linkedin.com/in/nancy-ramos-87a342151" target="_blank"><i
                                            class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-circle white-bg text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                            <div class="team-thumb mb-25">
                                <img src="assets/img/team/kristel.jpg" height="162" alt="" class="rounded-circle">
                            </div>
                            <div class="team-content-circle">
                                <h5>Kristel Ovelar</h5>
                                <span>Co-Fundadora y Dirección de Proyectos</span>
                                <div class="team-social mt-10">
                                    <a href="https://www.linkedin.com/in/kristel-ovelar-g%C3%B3mez-de-la-fuente-948429151/"
                                        target="_blank"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-circle white-bg text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                            <div class="team-thumb mb-25">
                                <img src="assets/img/team/marta.jpg" height="162" alt="" class="rounded-circle">
                            </div>
                            <div class="team-content-circle">
                                <h5>Marta Miranda</h5>
                                <span>Coordinadora de Kunumi</span>
                                <div class="team-social mt-10 " style="margin-bottom: 25px;">
                                    <a href="https://www.linkedin.com/in/marta-rocio-miranda-benitez-646908190/"
                                        target="_blank"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-3">

                <img src="assets/img/logo/ogami-blanco.png" class="img" alt="">

                <p class="text-white text-center mt-20" style="    font-size: 20px;
                font-weight: 300;">
                    Kunumi es un emprendimiento de innovación social de la ong Ogami.
                    <br><br>
                    Ogami es una organización no gubernamental, liderada por mujeres, que promueve el empoderamiento de
                    las familias paraguayas, a través de la generación de valor social, cultural, económico y ambiental.
                </p>

                <div class="slider-btn text-center">
                    <a href="//www.ogami.org.py" target="_blank" class="btn btn-white" data-animation="fadeInUp"
                        data-delay=".7s">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area end -->