<!-- header start -->
<header id="sticky-header" class="header-area red-gradient ">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="//www.kunumi.com.py">
                                <img src="assets/img/logo/logo_blanco.png" alt="">
                            </a>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->

<!-- blog-area start -->
<div id="blog" class="blog-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-wrapper blog-list blog-details blue-blog mb-50 wow fadeInUp" data-wow-delay=".3s">
                    <div class="blog-content">
                        <h3 class="text-kunumi">Políticas de privacidad</h3>


                        <h5>

                            1. Resumen de la política de privacidad.
                        </h5>

                        <p>
                            Esta política explica cómo podemos procesar tu información y puede modificarse o
                            actualizarse ocasionalmente, por lo tanto, revísela periódicamente.
                        </p>

                        <p>
                            Al proporcionar sus datos personales, los Usuarios/as autorizan automáticamente a OGAMI a
                            utilizarlos conforme con estas Políticas de Privacidad y Términos y Condiciones. Dichas
                            informaciones se encuentran disponibles en la página web de Kunumi y Ogami; así también en
                            la app Kunumi, donde se pone a consideración de los potenciales usuarios, previa aceptación.
                        </p>

                        <p>

                            Ogami se encuentra habilitada, por medio de las presentes Políticas de Privacidad, a
                            propocionar a los Usuarios servicios interectivos en línea como correos electrónicos,
                            boletines informativos, áreas de chat, foros, comunidades, sorteos y concursos para los
                            usuarios/as. Esta política de privacidad se aplica a toda la información recopilada sobre
                            Usted cuando interactúa con nuestros diferentes servicios.
                        </p>

                        <br>
                        <h5>
                            2. ¿Qué categorías de información podemos procesar?

                        </h5>
                        <p>
                            Podemos procesar: sus datos personales (p. ej., su nombre y apellido); sus datos
                            demográficos (p. ej., su edad); sus datos de contacto (p. ej., su dirección); sus registros
                            de consentimiento; información sobre sus interacciones con nuestro contenido o publicidad; y
                            todo punto de vista u opinión que nos proporcione.

                        </p>
                        <p>

                            También podemos procesar información sobre Usted a partir de su uso de nuestros Servicios
                            (p. ej., el tipo de dispositivo que está utilizando, el proveedor de servicios de Internet,
                            etc.), incluidas sus interacciones con el contenido y la publicidad en los Servicios.
                        </p>

                        <p>
                            "Información personal" se refiere a la información sobre un individuo, o a partir de la cual
                            un individuo es identificable directa o indirectamente.

                            "Proceso", "Procesamiento" o "Procesado" se refiere a todo lo que se hace con la Información
                            personal, ya sea por medios automatizados, como la recopilación, registro, organización,
                            estructuración, almacenamiento, adaptación o alteración, recuperación, consulta, uso,
                            divulgación por transmisión, difusión o puesta a disposición, alineación o combinación,
                            restricción, borrado o destrucción.
                        </p>
                        <p>
                            Podemos procesar las siguientes categorías de información personal sobre Usted:
                        </p>
                        <p>
                            - Datos personales: su nombre; su nombre de usuario o detalles de inicio de sesión; su
                            contraseña; sus áreas o temas de interés; la información proporcionada en respuesta a
                            cuestionarios o encuestas o para usar ciertos programas relacionados con la salud, como
                            objetivos de peso e ingesta calórica; y fotografía (si usted u otro usuario publica una foto
                            en el Servicio).
                            <br>
                            - Información demográfica: género; edad/fecha de nacimiento; nacionalidad; cargo laboral,
                            información de la empresa, educación, experiencia laboral y otra información profesional.
                            <br>
                            - Datos de contacto: número de teléfono o celular; dirección de correo electrónico; y sus
                            identificadores o perfiles de redes sociales públicas. <br>
                            - Registros de consentimiento: registros de todo consentimiento que haya dado, junto con la
                            fecha y hora, los medios de consentimiento y toda información relacionada. <br>
                            - Información de ubicación: datos de ubicación que describen la ubicación geográfica precisa
                            de su dispositivo ("Datos de ubicación precisos"). <br>
                            - Detalles de compra y pago: registros de compras y precios; registros de factura; registros
                            de pago; dirección de envío; método de pago; titular de la tarjeta o nombre del titular de
                            la cuenta; monto del pago; y fecha de pago. <br>
                            - Puntos de vista y opiniones: todo punto de vista y opinión que Usted u otros usuarios que
                            decidan enviarnos o publicar sobre nosotros en las plataformas de redes sociales o en los
                            Servicios, inclusive los foros.
                        </p>

                        <p>
                            También recopilamos otros tipos de información de usted u otras fuentes, a los que nos
                            referimos como "Otra información" en esta política, que puede incluir, entre otros, lo
                            siguiente:
                        </p>

                        <p>
                            Información sobre su uso de los Servicios, como datos de uso e información estadística.

                        </p>
                        <p>
                            - Historial de navegación, incluidos los sitios web u otros servicios que visitó antes y
                            después de interactuar con nuestros Servicios. <br>
                            - Búsquedas e interacciones con oportunidades de comercio electrónico, como comerciantes y
                            ofertas contenidas en los Servicios. <br>
                            - Información imprecisa sobre la ubicación física aproximada (por ejemplo, a nivel de ciudad
                            o código postal) de la computadora o dispositivo de un usuario derivada de la dirección IP
                            de tal computadora o dispositivo ("Datos GeoIP"). <br>
                            - Identificación del dispositivo ("ID"), que es un número distintivo asociado con un
                            teléfono inteligente o dispositivo portátil similar, pero es diferente de un número de serie
                            de hardware. <br>
                            - ID de publicidad, que es un número de identificación único y reiniciable por el usuario
                            para la publicidad asociada con un dispositivo (p. ej., iOS usa el Identificador para
                            publicidad (o "IDFA") y Android usa la ID de publicidad de Google). <br>
                            - Dirección de Protocolo de Internet ("IP"), que es una cadena única de números asignados
                            automáticamente a su dispositivo cada vez que accede a Internet. <br>
                            - La información recopilada mediante el uso de cookies, etiquetas electrónicas, Javascript,
                            etiquetas de píxeles, seguimiento de ID de dispositivo, identificadores anónimos y otras
                            tecnologías, incluida la información recopilada mediante dichos métodos y tecnologías sobre
                            (i) sus visitas e interacción con los Servicios, contenido y anuncios en sitios web de
                            terceros, aplicaciones, plataformas y otros canales de medios ("Canales"), y (ii) su
                            interacción con correos electrónicos, incluido el contenido y los anuncios que allí aparecen
                            (colectivamente, "Datos en línea"). <br>
                            - Tipo de dispositivo, configuración y software utilizado. <br>
                            - Archivos de registro, que pueden incluir direcciones IP, tipo de navegador, páginas de
                            referencia/salida del ISP (Proveedor de Servicios de Internet), sistema operativo, marcas de
                            fecha/hora o datos de flujo de clics, incluidos los clics en enlaces personalizados. <br>
                            - Web bugs, que son archivos electrónicos que permiten a un sitio web contar los usuarios
                            que han visitado esa página o acceder a ciertas cookies. <br>
                            - Pixel Tags, también conocidos como GIF transparentes, balizas, etiquetas destacadas o
                            errores web, que son un método para pasar información desde la computadora del usuario a un
                            sitio web de terceros. <br>
                            - Objetos locales compartidos, como cookies Flash, y Almacenamiento local, como HTML5. <br>
                            - Análisis móvil para comprender la funcionalidad de nuestras aplicaciones móviles y
                            software en su teléfono. <br>

                        </p>
                        <p>
                            Bajo ciertas circunstancias y dependiendo de la ley aplicable, parte de esta Otra
                            Información puede constituir Información personal. La información personal junto con otra
                            información se denominará, en adelante, "Información del usuario".
                        </p>

                        <br>
                        <h5>
                            3. Cómo recopilamos o creamos información.

                        </h5>
                        <p>
                            Resumen: recopilación y creación de información

                            Podemos recopilar u obtener información del usuario sobre Usted: directamente por usted (p.
                            ej., si se comunica con nosotros); en el transcurso de nuestra relación con usted (p. ej.,
                            si realiza una compra); cuando hace pública su información personal (p. ej., si hace una
                            publicación sobre nosotros en las redes sociales); cuando descargue, instale o use nuestros
                            Servicios; cuando visite nuestros Servicios; cuando se registre para usar los Servicios; o
                            cuando interactúe con contenido o publicidad de terceros en los Servicios.
                        </p>
                        <p>
                            También podemos recibir información de usuario sobre Usted por parte de terceros (p. ej.,
                            sitios de redes sociales). Asi mismo, podemos crear información de usuario sobre Usted, como
                            registros de sus interacciones con nosotros.
                        </p>
                        <p>
                            Recopilación de información del usuario: podemos recopilar información del usuario sobre
                            usted a partir de las siguientes fuentes:
                        </p>
                        <p>
                            -
                            Datos que proporciona: podemos obtener su información personal cuando nos la proporciona a
                            través de nuestros Servicios (p. ej., cuando se suscribe para recibir correos electrónicos,
                            boletines o mensajes SMS; se registra en el sitio o crea un perfil o cuenta en alguna parte
                            de los Servicios; participa en un sorteo o concurso; participa en encuestas y cuestionarios;
                            realiza consultas de búsqueda a través de los Servicios; nos contacta por correo
                            electrónico, teléfono u otro medio; realiza una compra; etc.). <br>
                            - Datos de la relación: podemos recopilar u obtener su información personal en el curso
                            normal de nuestra relación con usted (p. ej., si realiza una compra). <br>
                            - Datos que hace públicos: podemos recopilar u obtener su información personal que Usted
                            elija hacer pública, incluso a través de las redes sociales (p. ej., podemos recopilar
                            información de su(s) perfil(es) de redes sociales si realiza una publicación pública sobre
                            nosotros) o a través de nuestros chats, foros o comunidades en los Servicios. <br>
                            - Datos del servicio: podemos recopilar u obtener su información personal cuando visita,
                            descarga, utiliza o se registra para usar nuestro Servicio. <br>
                            - Información de contenido y publicidad: si elige interactuar con contenido o publicidad de
                            terceros en los Servicios o Canales, podemos recibir Información de usuario sobre usted de
                            parte de un tercero relevante. <br>
                            - Información de terceros: podemos recopilar u obtener su información personal a partir de
                            terceros que nos la proporcionen. Esto puede incluir canales fuera de línea, como teléfono o
                            correo directo; de clientes, vendedores, proveedores, terceros, fuentes disponibles
                            comercialmente o disponibles públicamente (p. ej., corredores de datos, concentradores de
                            datos, bases de datos públicas, etc.); operadores de red afiliados de terceros; fuentes de
                            referencia; y sitios o servicios de redes sociales (p. ej., Facebook, Twitter, LinkedIn,
                            etc.). Si utiliza una conexión o inicio de sesión de un tercero (p. ej., Facebook Connect,
                            Twitter o Google+) para acceder a los Servicios, crear una membresía o perfil en alguna
                            parte de los Servicios, acceder a nuestro contenido o reenviar nuestro contenido a otra
                            persona, plataforma o servicio, también podemos recibir su nombre de usuario o dirección de
                            correo electrónico para los servicios de terceros u otra información disponible sobre usted
                            o recopilada de usted en esos servicios.
                        </p>

                        <p>
                            Tenga en cuenta que OGAMI no es responsable de la información que Usted ofrece
                            voluntariamente sobre usted en las discusiones en ciertas áreas públicas de los Servicios,
                            como foros, blogs, wikis, salas de chat, mensajes privados, grupos de apoyo u otra
                            interacción o información de acceso público que elija hacer pública en su perfil de miembro
                            o en otras áreas de los Servicios que les permita a los usuarios cargar o publicar
                            contenido. Desalentamos a los usuarios a publicar dicha información personal. Puede cambiar
                            su información pública en cualquier momento a través de su página de perfil. Para solicitar
                            la eliminación de su información personal de estas áreas, póngase en contacto con nosotros a
                            través del correo hola@ogami.com.py/kunumi@ogami.com.py y te daremos respuesta.
                        </p>

                        <p>
                            Esta política de privacidad no cubre las prácticas de terceros, incluidas aquellas que
                            pueden divulgar información a Ogami.
                        </p>

                        <p>
                            Creación de información del usuario. También podemos crear información de usuario sobre
                            usted, como registros de sus interacciones con nosotros y detalles de su historial de
                            compras, para fines administrativos internos y de análisis. Además, podemos utilizar la
                            información del usuario que nos ha proporcionado con datos obtenidos a partir de terceros
                            para mejorar nuestros registros o nuestra capacidad de proporcionar productos y servicios,
                            como agregar información adicional a su perfil.
                        </p>

                        <br>
                        <h5>
                            4. Propósitos para los cuales podemos procesar su información
                        </h5>
                        <p>
                            Resumen: propósitos para los que podemos procesar su información

                            Podemos procesar la información del usuario para los siguientes propósitos: proporcionarle
                            los Servicios; comunicarnos con usted; proporcionarle publicidad en los Servicios y Canales;
                            analizar el compromiso con nuestra audiencia; observar la participación del usuario y la
                            actividad de compra en el Servicio y los Canales, ofrecer servicios de generación de
                            clientes potenciales, comercializar nuestros servicios y ofertas a clientes actuales y
                            potenciales, administrar nuestros sistemas de TI, gestión financiera, realizar encuestas y
                            cuestionarios, garantizar la seguridad de nuestros sistemas, realizar investigaciones cuando
                            sea necesario, cumplir con la ley aplicable, y mejorar nuestros servicios.

                            A continuación se detalla los distintos Propósitos para los cuales podemos procesar la
                            información del usuario:



                            Prestación de los servicios para Usted: proporcionarle los servicios de OGAMI, incluso (i)
                            la oferta de concursos, así como áreas de chat, libreta de control pre natal, foros y
                            comunidades, (ii) la gestión de su cuenta y (iii) la atención al cliente y gestión de
                            relaciones.
                            Ofrecer y mejorar los servicios: operar y administrar los servicios por Usted;
                            proporcionarle contenido personalizado; comunicarnos e interactuar con usted a través de los
                            Servicios; identificar problemas con los Servicios y planificar mejoras o crear nuevos
                            Servicios; y notificarle los cambios en nuestros Servicios.
                            Identificación: uso de información de terceros para verificar información sobre Usted para
                            proporcionar los Servicios (p. ej., verificar su dirección de correo para enviarle los
                            productos o servicios solicitados).
                            Encuestas y cuestionarios: interactuar con usted con el fin de obtener sus puntos de vista
                            sobre nuestros Servicios, así como aprender más sobre sus intereses, incluso su interés en
                            terceros y sus respectivas ofertas.
                            Investigación: análisis, evaluación comparativa y realización de investigaciones basadas en
                            la información del usuario y sus interacciones con nuestros Servicios.
                            Comunicaciones: comunicarnos con Usted a través de cualquier medio (correo electrónico,
                            teléfono, mensaje de texto, redes sociales, publicaciones o en persona) sobre el contenido y
                            otra información que pueda interesarle; mantener y actualizar su información de contacto
                            cuando corresponda; y obtener su consentimiento previo de aceptación cuando sea necesario..
                            Publicidad: proporcionar publicidad basada en sus intereses e interacciones con nuestros
                            Servicios y canales, así como conceder licencias de segmentos de Información del usuario a
                            terceros. Para obtener más información, consulte la Sección 7 a continuación.
                            Participación de la audiencia: identificar y desarrollar estrategias de participación,
                            publicidad y promoción de la audiencia en varias plataformas y canales.
                            Compromiso y compras del usuario: hacer un seguimiento del tráfico y de las actividades de
                            compras, incluida la revisión de su historial de navegación (si está disponible); provisión
                            de análisis y medición del costo del tráfico contra el dinero que se genera.
                            Ofertas de comercio: usar cookies para rastrear su historial de navegación y la cantidad de
                            dinero gastado en el sitio de un comerciante de terceros en particular para ofrecer cupones
                            y otras ofertas que son relevantes para su experiencia de compra.
                            Generación de clientes potenciales: obtener clientes potenciales compartidos con terceros
                            anunciantes a través de campañas de marketing, que incluyen, entre otros, marketing por
                            correo electrónico y ubicaciones en el sitio.
                            Comercialización a clientes: podemos comercializar a clientes actuales y potenciales y a sus
                            empleados que hayan manifestado interés en hacer negocios con, o hayan realizado previamente
                            negocios con Ogami para generar y promover aún más nuestro negocio. Tales esfuerzos incluyen
                            el envío de correos electrónicos de marketing o la realización de llamadas telefónicas para
                            impulsar la compra de publicidad, la comercialización de nuestra generación de clientes
                            potenciales, bolsas de trabajo y otros servicios comerciales ofrecidos por OGAMI.
                            Administración de TI: administración de los sistemas de tecnología de la información de
                            OGAMI; administración de redes y dispositivos; seguridad de redes y dispositivos;
                            implementar políticas de seguridad de datos y sistemas de información; auditorías de
                            cumplimiento en relación con políticas internas; identificación y mitigación de actividades
                            fraudulentas; y el cumplimiento de los requisitos legales.
                            Seguridad: medidas de seguridad electrónicas (incluida la supervisión de registros de inicio
                            de sesión y detalles de acceso) para ayudar a mitigar el riesgo y proporcionar la capacidad
                            de identificar y rectificar un incidente de seguridad.
                            Gestión financiera: fines comerciales generales y de gestión financiera, incluidos: gestión
                            económica, financiera y administrativa; planificación y presentación de informes; desarrollo
                            de personal; ventas; contabilidad; finanzas y auditoria corporativa..
                            Investigaciones: detección, investigación y prevención de infracciones de la política y
                            delitos penales, de conformidad con la ley aplicable.
                            Procedimientos legales: establecimiento, ejercicio y defensa de derechos legales.

                        </p>

                        <br>
                        <h5>
                            5. Marketing directo

                        </h5>
                        <p>
                            Podemos procesar su información de usuario para contactarlo por correo electrónico,
                            teléfono, correo directo u otros métodos de comunicación para brindarle información sobre
                            los servicios que puedan ser de su interés, utilizando los datos que nos ha propocionado.
                        </p>
                        <p>
                            Puede darse de baja de nuestras listas de boletines en cualquier momento. No le enviaremos
                            ningún correo electrónico de una lista que haya seleccionado para cancelar su suscripción,
                            pero podemos seguir contactándolo en la medida necesaria para otro Servicio que haya
                            solicitado.
                        </p>

                        <br>
                        <h5>
                            6. Cookies, tecnologías similares y publicidad conductual en línea
                        </h5>
                        <p>
                            ¿Cómo utilizamos las cookies?
                            <br>
                            Los tipos de información que normalmente recopilan las cookies incluyen información
                            relacionada con su uso del Servicio, la dirección IP de su dispositivo y el tipo de
                            navegador, cómo llegó a uno de los Servicios, su nombre y dirección de correo electrónico si
                            está iniciando sesión, etc.
                            ¿Qué cookies utilizamos?
                            A continuación se muestra una lista de cada categoría de cookies que utilizamos y por qué
                            las utilizamos. Las cookies de origen son nuestras propias cookies establecidas, son
                            controladas por nosotros y utilizadas para proporcionar información sobre el uso del
                            Servicio.

                            <br>
                            1. Cookies esenciales o cookies estrictamente necesarias: estas cookies son esenciales para
                            el
                            Servicio para que pueda moverse por él y utilizar sus funciones. Sin estas cookies, ciertas
                            características no podrían funcionar. Estas cookies no recopilan información sobre sus
                            hábitos de navegación.
                            <br>
                            2. Cookies funcionales: estas cookies recuerdan cómo prefiere utilizar el Servicio y nos
                            permiten mejorar su funcionamiento. Podemos recordar su configuración y ayudarlo a
                            proporcionarle anuncios. Las cookies funcionales son cookies persistentes que el Servicio
                            recuerda cuando su computadora o dispositivo vuelve a ese Servicio.
                            <br>
                            3. Cookies de análisis: las cookies de análisis nos permiten mejorar nuestros servicios
                            mediante la recopilación de información sobre su uso del Servicio. Utilizamos estas cookies
                            para ayudar a mejorar el funcionamiento del sitio web. Por ejemplo, las cookies analíticas
                            nos muestran estadísticas, que son las páginas visitadas con mayor frecuencia en el
                            Servicio, nos ayudan a registrar cualquier dificultad que tenga con el Servicio y nos
                            muestran si nuestra publicidad es efectiva o no. No podemos identificarlo personalmente a
                            través del uso de estas cookies, pero los terceros que las proporcionan pueden hacerlo.
                            <br>
                            4.Cookies de publicidad conductual: las cookies de publicidad conductual se utilizan para
                            entregar anuncios relevantes a los usuarios dentro y fuera del Servicio. Analizamos qué
                            páginas visita en estos sitios, qué productos o servicios ve y si ve o hace clic en los
                            anuncios que se le muestran. También podemos utilizar una cookie para saber si alguien que
                            vio un anuncio luego visitó y realizó una acción en el sitio del anunciante. Utilizamos esta
                            información para enviarle anuncios basados en intereses y también podemos compartir esta
                            información con terceros. Del mismo modo, nuestros socios pueden utilizar una cookie para
                            determinar si hemos mostrado un anuncio y cómo se desempeñó, o para proporcionarnos
                            información sobre cómo interactúa con los anuncios. También podemos trabajar con un socio
                            para mostrarle un anuncio dentro o fuera del Servicio, como por ejemplo, después de que haya
                            visitado el sitio o la aplicación de un socio.
                            <br>
                            5. Cookies de terceros: algunas de las cookies del Servicio son operadas por terceros, como
                            Twitter, YouTube, Facebook o Comscore. Algunos de estos terceros (por ejemplo, terceros
                            anunciantes) pueden utilizar cookies en el Servicio, en correos electrónicos o en nuestros
                            anuncios en otros sitios web para permitirles proporcionar los servicios que están
                            brindando. Algunas de las cookies operadas por terceros se pueden utilizar con fines
                            analíticos, como monitorear, analizar y prevenir el tráfico fraudulento u otras actividades
                            sospechosas. Para crear una experiencia fácil de utilizar, algunas de nuestras promociones y
                            anuncios de terceros son diseñados para transmitir automáticamente la información de los
                            usuarios a la página de destino de un tercero cuando elige «hacer clic» en el anuncio o
                            promoción de un tercero. No controlamos a estos terceros ni a su uso de cookies. Esto
                            significa que no es posible que administremos estas cookies. Esta Política solo cubre el uso
                            de cookies por parte de Everyday Health y no cubre el uso de cookies por parte de terceros.
                            Algunas de estas cookies de terceros no están basadas en sesiones y tienen fechas de
                            vencimiento variables. Consulte los sitios web de estos terceros para obtener detalles sobre
                            cómo utilizan las cookies.
                            <br>
                            6. Cookies Flash: en ciertas situaciones, podemos utilizar Adobe Flash Player para entregar
                            contenido especial, como videoclips o animación. Las cookies flash se almacenan en su
                            dispositivo, pero se administran a través de una interfaz que es diferente a la que
                            proporciona su navegador web. Esto significa que no es posible administrar cookies Flash en
                            el nivel del navegador de la misma manera que administraría otros tipos de cookies. En
                            cambio, puede acceder a sus herramientas de administración de Flash desde el sitio web de
                            Adobe directamente. Consulte el sitio web de Adobe.
                            <br>
                            7. Información de ubicación geográfica: algunos dispositivos permiten que las aplicaciones
                            accedan a información basada en la ubicación en tiempo real (por ejemplo, GPS). Algunas
                            fotos u otro contenido que coloque dentro del Servicio pueden contener información de
                            ubicación grabada. Podemos utilizar esta información para optimizar su experiencia. Además,
                            parte de la información que recopilamos de un dispositivo, por ejemplo, la dirección IP, a
                            veces se puede utilizar para aproximar la ubicación de un dispositivo.
                        </p>

                        <p>
                            Tecnologías similares

                        </p>
                        <p>
                            Además de las cookies, también podemos utilizar otras tecnologías de seguimiento similares
                            en nuestros servicios, como etiquetas de píxeles (también conocidas como GIF transparentes,
                            píxeles o errores web), contadores de visitantes, etiquetas electrónicas y almacenamiento
                            local. Utilizamos estas tecnologías para hacer cosas como almacenar el historial de
                            visualización de videos de la configuración del usuario, recopilar información demográfica
                            sobre nuestra base de usuarios en su conjunto o rastrear los movimientos de los usuarios en
                            el Servicio, para proporcionar anuncios basados en intereses o mejorar nuestra comprensión
                            de cosas como el tráfico del sitio, comportamiento de visitantes y campañas promocionales.
                            Las etiquetas de píxeles son pequeños bloques de código instalados en una página web,
                            aplicación móvil o publicidad y son un método para pasar información de su dispositivo a un
                            sitio web de terceros. Los contadores de visitantes son archivos electrónicos que permiten a
                            un sitio web contar los usuarios que han visitado esa página o acceder a ciertas cookies. El
                            almacenamiento local, como el HTML 5, permite que un sitio web o aplicación móvil almacene y
                            recupere datos en el dispositivo de un individuo. Las etiquetas electrónicas son etiquetas
                            que nosotros y nuestros socios comerciales utilizamos para analizar tendencias.
                        </p>

                        <p>
                            No rastrear la respuesta
                        </p>
                        <p>
                            Ciertos navegadores web pueden permitirle habilitar una opción de «no rastrear» que envía
                            señales a los sitios web que visita indicando que no desea que se rastreen sus actividades
                            en línea. Esto es diferente a bloquear las cookies ya que los navegadores con la opción «no
                            rastrear» seleccionada aún pueden aceptar cookies. En este momento, no existe una norma de
                            la industria sobre cómo las empresas deben responder a las señales de «no rastrear», aunque
                            puede adoptarse una en el futuro. No respondemos a las señales de «no rastrear» en este
                            momento. Si lo hacemos en el futuro, modificaremos esta Política de cookies en consecuencia.
                        </p>

                        <br>
                        <h5>
                            7. Base legal para procesar información personal

                        </h5>

                        <p>
                            Podemos procesar su información de usuario cuando: haya dado su consentimiento; el
                            procesamiento es necesario para un contrato entre Usted y nosotros; el procesamiento es
                            necesario para proteger los intereses vitales de un individuo; o donde tenemos un interés
                            legítimo válido en el procesamiento.
                            <br>

                            Al procesar su información de usuario relacionada con los propósitos establecidos en esta
                            Política, podemos apoyarnos en una o más de las siguientes bases legales, dependiendo de las
                            circunstancias:
                        </p>
                        <p>
                            - Consentimiento: podemos procesar su información de usuario cuando hayamos obtenido su
                            consentimiento previo y expreso para el procesamiento (esta base legal solo se usa en
                            relación con el procesamiento que es completamente voluntario; <br>
                            - Necesidad contractual: podemos procesar su información de usuario cuando el procesamiento
                            sea necesario en relación con cualquier contrato que pueda celebrar con nosotros; <br>
                            - Cumplimiento de la ley aplicable: podemos procesar su información de usuario cuando el
                            procesamiento sea requerido por la ley aplicable; <br>
                            - Intereses vitales: podemos procesar su información de usuario cuando el procesamiento sea
                            necesario para proteger los intereses vitales de un individuo; o <br>
                            - intereses legítimos: podemos procesar su información de usuario cuando tengamos un interés
                            legítimo en llevar a cabo el procesamiento con el propósito de administrar, operar o
                            promover nuestro negocio, y ese interés legítimo no sea anulado por sus intereses, derechos
                            fundamentales o libertades.
                        </p>

                        <br>
                        <h5>
                            8. Información que divulgamos a terceros
                        </h5>

                        <p>

                            Podemos divulgar su información de usuario a: autoridades legales y reguladoras; nuestros
                            asesores externos; partes que procesan información del usuario en nuestro nombre
                            ("Desarrolladores"); cualquiera de las partes según sea necesario en relación con los
                            procedimientos legales; cualquiera de las partes según sea necesario para investigar,
                            detectar o prevenir delitos penales; cualquier comprador de nuestro negocio; y todo
                            proveedor externo de publicidad, complementos o contenido utilizado en los Servicios.

                        </p>

                        <p>
                            Podemos divulgar su información de usuario a otras entidades, para fines comerciales
                            legítimos (incluido el funcionamiento de los servicios y la prestación de servicios), de
                            conformidad con la ley aplicable. Además, podemos divulgar su información de usuario a los
                            siguientes:
                        </p>

                        <p>
                            - Autoridades legales y reguladoras, previa solicitud, o con el propósito de informar
                            cualquier incumplimiento real o sospechado de la ley o regulación aplicable; <br>
                            - Asesores profesionales externos (como contadores, desarrolladores, auditores o abogados),
                            sujetos a obligaciones contractuales vinculantes de confidencialidad;
                            - Procesadores de terceros (como proveedores analíticos, desarrolladores, centros de datos,
                            etc.), sujetos a obligaciones contractuales vinculantes de confidencialidad;
                            <br>
                            - Toda parte relevante a los efectos de prevención, investigación, detección o
                            enjuiciamiento de delitos penales o la ejecución de sanciones penales, incluida la
                            protección y prevención de amenazas a la seguridad pública;
                            <br>
                            - Todo adquirente tercero relevante, en el caso de que vendamos o transfiramos la totalidad
                            o una parte relevante de nuestro negocio o activos (incluso en el caso de una
                            reorganización, disolución o liquidación); <br>
                            - Todo proveedor externo relevante, donde nuestros Servicios utilizan publicidad,
                            complementos o contenido de terceros. Si elige interactuar con tal publicidad, complementos
                            o contenido, la información sobre sus actividades en los Servicios y Canales para
                            proporcionarle publicidad dirigida basada en sus intereses puede compartirse con el
                            proveedor externo correspondiente. Si hace clic o toca o interactúa con un anuncio, el
                            anunciante puede asumir que cumple con los criterios de su objetivo; <br>
                            - Todo patrocinador de concursos, concursos, sorteos y sorteos de premios, u ofertas de
                            contenido, los datos de registro para tales eventos deben ser utilizados por nosotros como
                            parte de la Información del usuario, y pueden compartirse con el patrocinador y otros,
                            sujeto a esta Política y Política de privacidad del patrocinador. También podemos compartir
                            su información con proveedores terceros involucrados en la administración de dichos eventos.
                            Para concursos, concursos, sorteos y sorteos, lea detenidamente las reglas oficiales o los
                            términos y condiciones antes de enviar su información; y <br>
                            - Terceros, cuyas prácticas no están cubiertas por esta política de privacidad (p. ej.,
                            proveedores externos de bienes y servicios, empresas y agencias de marketing y publicidad,
                            editores de contenido y minoristas). Podemos compartir Otra información con otras partes que
                            ya poseen su Información personal para mejorar sus registros sobre usted o su capacidad para
                            proporcionar productos y servicios.
                        </p>

                        <p>
                            Con respecto a las encuestas y cuestionarios, en caso de que las respuestas se divulguen
                            públicamente, los usuarios serán notificados en el momento en que respondan la encuesta o
                            cuestionario. De lo contrario, divulgaremos solo información agregada sobre las respuestas
                            de sus usuarios en encuestas o cuestionarios a otros participantes en la encuesta. Cuando
                            las encuestas o cuestionarios permiten a los usuarios enviar comentarios por escrito, y
                            Ogami informa a los usuarios de la posibilidad de dicha divulgación en el momento en que
                            realizan la encuesta o cuestionario, Ogami se reserva el derecho de divulgar cualquier
                            información proporcionada por los usuarios, siempre que no se divulgue información de
                            usuario que pueda permitir que se identifique a un usuario específico.
                        </p>

                        <p>
                            <b>
                                Ogami y algunos de nuestros anunciantes pueden usar compañías de servicios de publicidad
                                de terceros para publicar anuncios y realizar servicios relacionados cuando interactúa
                                con los Servicios. A menudo, estas compañías de publicidad de terceros emplean cookies y
                                otras tecnologías para medir la efectividad de los anuncios de sitios web, aplicaciones
                                y correos electrónicos y para crear un registro de interacción con nuestro contenido que
                                usan junto con su publicidad que aparece en otros sitios o aplicaciones, o para informar
                                el tráfico del sitio web, el uso de aplicaciones, estadísticas, datos publicitarios u
                                otras actividades en los Servicios.
                            </b>
                        </p>

                        <p>
                            También podemos vender o transferir Datos en línea a ciertos terceros, como los anunciantes
                            que utilizarán estos datos para publicar anuncios que consideren relevantes para sus
                            intereses y que acepten mantener la confidencialidad de esta información. Algunos de estos
                            terceros pueden combinar los Datos en línea con sus propios datos sobre Usted para formar
                            una imagen más detallada.
                        </p>

                        <p>
                            Podemos contratar proveedores externos para que nos ayuden con la recopilación, el
                            almacenamiento y la segmentación de los Datos en línea, y los proveedores deben mantener la
                            confidencialidad de esta información
                        </p>

                        <p>

                            Si contratamos a un procesador externo para procesar su información de usuario, el
                            procesador estará sujeto a obligaciones contractuales vinculantes para lo siguiente: (i)
                            procesar solo la información del usuario de acuerdo con nuestras instrucciones escritas
                            anteriores; y (ii) utilizar medidas para proteger la confidencialidad y seguridad de la
                            Información del Usuario; junto con todo requisito adicional.
                        </p>

                        <p>
                            Los Servicios contienen enlaces a otros sitios o socios cuyas prácticas de información
                            pueden ser diferentes a las nuestras. Debe consultar la política de privacidad de estos
                            terceros para conocer cómo se protege su privacidad.
                        </p>

                        <br>
                        <h5>
                            9. ¿Qué puedo hacer para controlar mi información?

                        </h5>
                        <p>
                            Resumen: ¿Qué puedo hacer para controlar mi información?

                        </p>

                        <p>
                            Puede tomar medidas directamente para cambiar sus preferencias de boletines informativos y
                            publicidad conductual en línea como se describe en esta sección.
                        </p>

                        <p>
                            Sus suscripciones al boletín y correo electrónico. Puede optar por no recibir o cancelar su
                            suscripción a un boletín u otra lista de correo electrónico en cualquier momento siguiendo
                            las instrucciones al final de los boletines o correos electrónicos que reciba.
                        </p>

                        <p>
                            Notificaciones push. Le enviamos notificaciones automáticas de vez en cuando para informarle
                            sobre cualquier evento o promoción que podamos estar ejecutando. Si ya no desea recibir este
                            tipo de comunicaciones, puede desactivarlas a nivel de dispositivo.
                        </p>

                        <p>
                            Servicios basados ​​en la localización. Puede optar por no que Ogami recopile sus Datos de
                            ubicación precisos en cualquier momento editando la configuración adecuada en su dispositivo
                            móvil.
                        </p>

                        <p>
                            Cookies y etiquetas de píxeles. Puede detener o restringir las cookies y las etiquetas de
                            píxeles en su computadora o purgar las cookies de su navegador ajustando las preferencias de
                            su navegador web. Sin embargo, si "apaga", purga o deshabilita las cookies o las etiquetas
                            de píxeles, aunque todavía podría usar los Servicios, es posible que no pueda usar todas las
                            características, funciones o servicios disponibles en los Servicios.
                        </p>

                        <br>
                        <h5>
                            10. Condiciones de uso

                        </h5>

                        <p>
                            Para obtener más información sobre su uso del sitio web y la aplicación de Kunumi, consulte
                            los Términos de uso, que se incorporan como referencia en esta Política de privacidad. Le
                            recomendamos que revise los Términos de uso con regularidad para revisar cualquier cambio
                            que podamos hacer de vez en cuando.
                        </p>
                        <br>
                        <h5>
                            11. Datos de contacto

                        </h5>
                        <p>
                            Puede ponerse en contacto con nosotros en las direcciones que figuran a continuación o por
                            correo a: hola@ogami.com.py/kunumi@ogami.com.py. <br>
                            Dirección: Manuel Dominguez N°336, Fernando de la Mora. <br>
                            Teléfono: 0981854457

                        </p>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<!-- blog-area end -->

<app-footer></app-footer>