<!-- fact-area start -->
<div class="fact-area-red red-gradient pos-relative pt-50 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2 class="text-center text-white" style="letter-spacing: 10px;">
                    IMPACTO
                </h2>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-fact text-center mb-30 wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/img/contador/parents.svg" height="150" alt="" class="mb-20">
                    <br>
                    <span class="text-white"> +</span>
                    <span class="counter">250</span>
                    <h5>MADRES Y PADRES INFORMADOS (DESCARGAS)</h5>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-fact text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/contador/social-care.svg" height="150" alt="" class="mb-20">
                    <br> <span class="text-white"> +</span> <span class="counter">+20</span>
                    <h5>ALIADAS AMIGAS</h5>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-fact text-center mb-30 wow fadeInUp" data-wow-delay=".8s">
                    <img src="assets/img/contador/aliadasvg.svg" height="150" alt="" class="mb-20">
                    <br>
                    <span class="text-white"> +</span>
                    <span class="counter">+5</span>
                    <h5>ALIADAS ESTRATÉGICAS</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fact-area end -->