<!-- features-area start -->
<div id="features" class="features-area pt-150 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 offset-lg-2 offset-xl-3">
                <div class="area-title text-center mb-60">
                    <h3 class="mb-20" style="font-weight: 400;">¿Qué ofrece <span class="text-kunumi"> <b> K U N U M I
                                ?</b>
                        </span> </h3>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="features-app-thumb mb-60 wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="assets/img/about/app2.png" alt="">
                </div>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12">
                <div class="row pt-10">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="main-features features-red mb-30 wow fadeIn" data-wow-delay="0.4s">
                            <div class="features-icon">
                                <span>
                                    <img [src]="embarazo"
                                        [ngStyle]="{'background-color': embarazo === 'assets/img/Trimestral.svg' ? 'white' : '' }"
                                        (mouseover)="embarazo= 'assets/img/Trimestral_blanco.svg'"
                                        (mouseout)="embarazo= 'assets/img/Trimestral.svg'" class="feature-icon"
                                        style="padding: 5px;">
                                </span>
                                <img src="assets/images/" alt="">
                            </div>
                            <div class="features-content">
                                <h4>Embarazo trimestre a trimestre</h4>
                                <p>Informaciones y orientaciones sobre salud, nutrición, cuidados y entretenimiento.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="main-features features-red mb-30 wow fadeIn" data-wow-delay="0.6s">
                            <div class="features-icon">
                                <span>
                                    <fa-icon class="feature-icon" [icon]="faBalanceScale"></fa-icon>

                                </span>
                            </div>
                            <div class="features-content">
                                <h4>Derechos</h4>
                                <p>De madres y padres trabajadores en el periodo de gestación, nacimiento y lactancia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="main-features features-red mb-30 wow fadeIn" data-wow-delay="0.8s">
                            <div class="features-icon">
                                <span>
                                    <fa-icon class="feature-icon" [icon]="faAddressBook"></fa-icon>

                                </span>
                            </div>
                            <div class="features-content">
                                <h4>Libreta de control prenatal</h4>
                                <p>Registro de peso, talla, presión arterial, estado nutricional y las indicaciones del
                                    médico tratante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="main-features features-red mb-30 wow fadeIn" data-wow-delay="1s">
                            <div class="features-icon">
                                <span>
                                    <fa-icon class="feature-icon" [icon]="faBaby"></fa-icon>
                                </span>
                            </div>
                            <div class="features-content">
                                <h4>Crianza de 0 a 1 año</h4>
                                <p>Informaciones y orientaciones sobre salud, nutrición, cuidados y estimulación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="main-features features-red mb-30 wow fadeIn" data-wow-delay="1.2s">
                            <div class="features-icon">
                                <span>
                                    <fa-icon class="feature-icon" [icon]="faMedal"></fa-icon>
                                </span>


                            </div>
                            <div class="features-content">
                                <h4>Desafiate</h4>
                                <p>Divertido juego de preguntas
                                    y respuestas para poner a prueba los conocimientos sobre maternidad y paternidad.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="main-features features-red mb-30 wow fadeIn" data-wow-delay="1.4s">
                            <div class="features-icon">
                                <span>
                                    <fa-icon class="feature-icon" [icon]="faMapMarkedAlt"></fa-icon>

                                </span>
                            </div>
                            <div class="features-content">
                                <h4>Servicios cercanos</h4>
                                <p>Mapeo de hospitales, organizaciones, instituciones, comercios con sus servicios y
                                    productos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="main-features features-red mb-30 wow fadeIn" data-wow-delay="1.4s">
                            <div class="features-icon">
                                <span>
                                    <fa-icon class="feature-icon" [icon]="faComments"></fa-icon>

                                </span>
                            </div>
                            <div class="features-content">
                                <h4>Foro</h4>
                                <p>Comunidad en línea para intercambiar experiencias.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features-area start -->