<!-- header start -->
<header id="sticky-header" class="header-area red-gradient ">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="//www.kunumi.com.py">
                                <img src="assets/img/logo/logo_blanco.png" alt="">
                            </a>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->

<!-- blog-area start -->
<div id="blog" class="blog-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-wrapper blog-list blog-details blue-blog mb-50 wow fadeInUp" data-wow-delay=".3s">
                    <div class="blog-content">
                        <h3 class="text-kunumi">Términos y condiciones de uso</h3>


                        <h5>
                            1. Este sitio es solo para fines informativos y no proporciona asesoramiento médico.
                        </h5>


                        <p>Los Sitios y Servicios estan diseñados para brindar información sobre salud, cuidados,
                            nutrición y una libreta de control prenatal.</p>
                        <p>
                            LA INFORMACIÓN BRINDADA EN EL SITIO O SERVICIOS NO DEBE SUSTITUIR O REEMPLAZAR EL CONSEJO,
                            DIAGNÓSTICO O TRATAMIENTO MÉDICO PROFESIONAL. SI TIENE ALGUNA PREGUNTA SOBRE SU SALUD O EL
                            CONTENIDO DE LOS SITIOS O SERVICIOS, SIEMPRE DEBE CONSULTAR CON UN MÉDICO U OTRO PROFESIONAL
                            DE LA SALUD.
                        </p>
                        <p>
                            NO DESESTIME, EVITE O RETRASE LA CONSULTA CON SU PROFESIONAL DE ATENCIÓN MÉDICA POR ALGO QUE
                            HAYA LEÍDO EN EL SITIO O A TRAVÉS DE LOS SERVICIOS. EL USO DE INFORMACIÓN PROPORCIONADA EN
                            LOS SITIOS O A TRAVÉS DE LOS SERVICIOS ES EXCLUSIVAMENTE BAJO SU PROPIO RIESGO.
                        </p>
                        <p>
                            Nada de lo declarado o publicado en los Sitios o disponible a través de un Servicio pretende
                            ni debe ser considerado práctica médica o de asistencia psicológica. A los fines del
                            presente acuerdo, la práctica médica y de asistencia psicológica incluye, entre otros,
                            psiquiatría, psicología, psicoterapia, la práctica de asistencia farmacéutica, nutricional y
                            de aptitud física, o la provisión de tratamiento, instrucciones, diagnóstico, pronóstico o
                            asesoramiento sobre la salud. Los avances en la investigación médica pueden afectar los
                            temas de salud, aptitud física y nutrición expuestos en los Sitios o a través de los
                            Servicios, y no se garantiza que la información en los Sitios o Servicios vaya a incluir
                            siempre los descubrimientos más recientes con respecto al tema particular. Su acceso o uso
                            de los Sitios y los Servicios no crea de ninguna manera una relación médica/paciente,
                            confidencial o privilegiada, ni ninguna otra relación que pueda generar obligaciones de
                            nuestra parte. No recomendamos ni respaldamos ninguna prueba específica, clínica, opinión ni
                            ningún médico, procedimiento, productos u otra información que pueda aparecer en los Sitios
                            o Servicios. Si confía en la información proporcionada por este Sitio o los Servicios,
                            nuestros empleados o invitados o visitantes a los Sitios, lo hace bajo su propio riesgo.
                        </p>
                        <br>
                        <h5>
                            2. Obligaciones del usuario. </h5>

                        <p>
                            Acepta cumplir con todas las leyes y regulaciones locales, estatales, nacionales aplicables
                            y las sanciones económicas con respecto al uso de los Sitios y Servicios.

                        </p>
                        <p>
                            También reconoce y acepta que su uso de la Internet y el acceso a los Sitios son bajo su
                            propio riesgo. También debe comprender que no se puede garantizar la confidencialidad de
                            cualquier comunicación o material transmitido hacia/desde un Sitio a través de Internet u
                            otra forma de red de comunicación global. En consecuencia, Ogami no es responsable de la
                            seguridad de la información transmitida hacia o desde los Sitios. Ogami se reserva el
                            derecho de prohibir o suspender el uso o acceso a los Sitios en cualquier momento, sin
                            previo aviso, por cualquier motivo.

                        </p>

                        <br>
                        <h5>3. Concesión de licencia. </h5>

                        <p>
                            Estos Términos de uso le proporcionan una licencia personal, revocable, limitada, no
                            exclusiva, libre de regalías e intransferible para usar los Sitios condicionados a su
                            cumplimiento continuo de estos Términos de uso. Puede imprimir y descargar materiales e
                            información de los Sitios exclusivamente para su uso personal, siempre que todas las copias
                            impresas contengan todos los derechos de autor y otros avisos aplicables presentes en tales
                            materiales e información.

                        </p>
                        <br>
                        <h5>4. Actividades prohibidas.
                        </h5>

                        <p>
                            Los Sitios y los Servicios no están destinados a niños/as menores de 10 años, y no deben
                            usar los Sitios ni los Servicios. Reconoce y acepta que los Sitios y Servicios contienen
                            información de terceros de las principales referentes de la salud materno-infantil del
                            Paraguay. En relación con su uso de los Sitios o los Servicios, reconoce y acepta que no
                            hará lo siguiente:
                        </p>
                        <p>
                            1. Copiar, realizar ingeniería inversa o ensamblaje inverso; o de alguna otra forma intentar
                            descubrir el código fuente, distribuir, transmitir, mostrar, hacer, reproducir, publicar,
                            autorizar, crear trabajos derivados, transferir o vender información, software, productos o
                            servicios obtenidos a través de los Sitios o los Servicios;
                        </p>
                        <p>
                            2. Acceder a los Sitios o Servicios por cualquier medio que no sea a través de las
                            interfaces estándar aceptadas por la industria o proporcionadas por Ogami;
                        </p>
                        <p>
                            3. Publicar o transmitir material que contenga un virus o datos corruptos;
                        </p>
                        <p>
                            4. Eliminar cualquier atribución de autor, avisos legales o designaciones o etiquetas de
                            propiedad;
                        </p>
                        <p>
                            5. Violar una ley, norma o regulación local, estatal, nacional aplicable, o usar los Sitios
                            o los Servicios para algún propósito prohibido por estos Términos de Uso;
                        </p>
                        <p>
                            6. Manipular o mostrar los Sitios o los Servicios mediante el uso de marcos o tecnología de
                            navegación similar;
                        </p>
                        <p>
                            7. Registrar, suscribir o cancelar la suscripción de alguna de las Partes a cualquier
                            producto o servicio de Ogami si esa Parte no lo autoriza expresamente;
                        </p>
                        <p>
                            8. Usar los Sitios o los Servicios de cualquier manera que pueda dañar, deshabilitar,
                            sobrecargar o perjudicar los servidores o redes de Ogami, o interferir con el uso y disfrute
                            de los Sitios o los Servicios por parte de cualquier otro usuario;
                        </p>
                        <p>
                            9. Obtener o intentar obtener acceso no autorizado a cualquiera de los Sitios, Servicios,
                            cuentas, sistemas informáticos o redes conectados a Ogami mediante piratería, extracción de
                            contraseñas o cualquier otro medio;

                        </p>
                        <p>
                            10. Obtener o intentar obtener un material o información a través de cualquier medio que no
                            esté intencionalmente disponible a través de los Sitios o los Servicios, o recopilar
                            información sobre otros usuarios sin su consentimiento;

                        </p>
                        <p>
                            11. Usar los sitios de cualquier manera que pueda dañar, menospreciar o impactar
                            negativamente a Ogami. Además, acepta cumplir con nuestras pautas de publicación
                            especificadas a continuación.
                        </p>
                        <p>
                            SIN LIMITAR LA GENERALIDAD DE LO ANTERIOR, SE PROHÍBE EXPRESAMENTE COPIAR O REPRODUCIR
                            CUALQUIER SERVICIO, INFORMACIÓN, PROGRAMA, PRODUCTO, O MATERIAL PROPORCIONADO POR OGAMI A
                            OTRO SERVIDOR O LUGAR PARA SU REPRODUCCIÓN O REDISTRIBUCIÓN.
                        </p>

                        <br>
                        <h5>5. Foros públicos y pautas de publicación.
                        </h5>

                        <p>
                            Ogami alberga foros públicos y pautas de publicación en sus Sitios y a través de los
                            Servicios. Se pretende que los foros de comunicación sirvan como centros de discusión para
                            los usuarios y suscriptores de los Sitios. Estos son foros públicos y toda información que
                            publique en los Sitios o a través de los Servicios puede ser vista por cualquier persona en
                            Internet. Todos los usuarios podrán editar o eliminar sus propias publicaciones después de
                            subirlas. Cuando publique información en los Sitios o a través de los Servicios, tenga
                            cuidado cuando discuta temas delicados. Tanto los usuarios como los moderadores deben tratar
                            a los demás con respeto y honestidad. Sea justo e informativo. Publique información honesta
                            y valiosa, y no rumores u opiniones negativas que no estén respaldadas por hechos. A menos
                            que la información de su publicación surja directamente a partir de su experiencia personal,
                            las referencias a toda información médica o relacionada con la salud que proporcione deben
                            incluirse en su publicación.
                        </p>
                        <p>
                            Además de las actividades prohibidas ya mencionadas, cuando publique información y medios en
                            los Sitios o a través de los Servicios, no debe hacer lo siguiente:
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Hacer publicaciones que interfieran o afecten los Sitios o sus funcionamientos,
                                incluidos los archivos que contienen código malicioso, virus, archivos corruptos, o
                                cualquier otro software o programa similar que pueda dañar el funcionamiento de la
                                computadora, la red o los Sitios de otra persona;
                            </li>
                            <li class="list-group-item">
                                Publicar declaraciones o materiales calumniosos o difamatorios, o que acosen, abusen,
                                acechen, amenacen, intimiden o, de alguna manera, infrinjan los derechos de otros;
                            </li>
                            <li class="list-group-item">
                                Publicar o cargar información personal, fotos, videos o cualquier otro medio sobre otra
                                persona sin su permiso expreso;
                            </li>
                            <li class="list-group-item">
                                Publicar declaraciones o materiales que sean intolerantes, odiosos, racialmente
                                ofensivos, vulgares, obscenos, pornográficos, profanos o, de otra manera, objetables,
                                incluidos lenguaje o imágenes que, normalmente, no se considerarán social o
                                profesionalmente responsables o apropiadas en persona;
                            </li>
                            <li class="list-group-item">
                                Publicar declaraciones o materiales que fomenten conductas delictivas o que den lugar a
                                responsabilidad civil, o que violen cualquier ley o regulación en cualquier
                                jurisdicción;
                            </li>

                            <li class="list-group-item">
                                Publicar declaraciones o materiales que, de alguna manera, dañar a menores;
                            </li>

                            <li class="list-group-item">
                                Publicar declaraciones o materiales haciéndose pasar por otra persona o entidad, ya sea
                                real o ficticia, incluidos, entre otros, empleados y representantes de Ogami;
                            </li>

                            <li class="list-group-item">
                                Publicar declaraciones o materiales que tergiversen su relación con una entidad o con
                                Ogami;
                            </li>

                            <li class="list-group-item">
                                Hacer publicaciones que violen los derechos de privacidad o publicidad de otra persona,
                                de datos de identificación personal de otra persona, direcciones, números de teléfono,
                                direcciones de correo electrónico, números de Seguro Social, números de tarjetas de
                                crédito o secretos comerciales o información que deba mantener confidencial;

                            </li>

                            <li class="list-group-item">
                                Publicar declaraciones o materiales que constituyan correo basura, spam o publicidad no
                                autorizada, o materiales promocionales, incluidos, entre otros, enlaces a productos o
                                servicios comerciales, o cualquier campaña política;
                            </li>

                            <li class="list-group-item">
                                Publicar material que infrinja, o que pueda infringir, cualquier patente, marca
                                registrada, secreto comercial, derecho de autor u otro derecho intelectual o de
                                propiedad de cualquier parte, o que no tenga derecho a publicar, sin el permiso expreso
                                del propietario de los derechos de autor, marca registrada u otro derecho de propiedad.
                                Ogami no tiene responsabilidad expresa de proporcionar a los usuarios indicaciones,
                                marcas u otra cosa que pueda ayudarlos a determinar si el material en cuestión tiene
                                derechos de autor o marca registrada. Los usuarios serán los únicos responsables de todo
                                daño resultante por infracciones de los derechos de autor, marcas registradas, derechos
                                de propiedad u otro daño resultante de tal presentación.
                            </li>


                        </ul>

                        <p>
                            Todo usuario que no cumpla con estas pautas puede ser expulsado y se le puede negar el
                            acceso continuo a los grupos de apoyo. Ogami puede eliminar o alterar todo contenido creado
                            por el usuario en cualquier momento y por cualquier motivo. Los materiales publicados o
                            subidos a los diversos foros públicos pueden estar sujetos a limitaciones de tamaño y uso.
                            Usted tiene la responsabilidad de cumplir con tales limitaciones. Ogami rechaza toda
                            responsabilidad y respaldo, y no hacemos ninguna representación en cuanto a la validez de
                            toda opinión, consejo, información o declaración hecha o exhibida en estos foros por
                            terceros, ni somos responsables de los posibles errores u omisiones en tales publicaciones,
                            ni de los hipervínculos incrustados en los mensajes. Bajo ninguna circunstancia, Ogami y
                            nuestros proveedores o agentes seremos responsables de toda pérdida o daño causado por su
                            confianza en la información obtenida a través de estos foros.
                        </p>

                        <p>
                            Ogami no tiene obligación alguna de controlar los contenidos o publicaciones en los grupos
                            de apoyo. Sin embargo, usted reconoce y acepta que nos reservamos el derecho de controlarlo
                            a nuestro exclusivo criterio. Los colaboradores de Ogami podrán moderar los grupos. A menos
                            que se indique lo contrario, estos moderadores no son profesionales médicos y no deben
                            interpretarse como tales.
                        </p>

                        <p>
                            Nuestros moderadores se reservan el derecho de alterar, editar, negarse a publicar o
                            eliminar toda publicación o contenido, en su totalidad o en parte, por cualquier motivo y a
                            divulgar tales materiales y las circunstancias que rodean su transmisión a un tercer,
                            regulación, proceso legal o solicitud gubernamental aplicables y para protegernos a nosotros
                            mismos, a nuestros clientes, patrocinadores, usuarios y visitantes. Además, Ogami y los
                            moderadores de Ogami se reservan el derecho de contactar a los usuarios para informarlos
                            sobre políticas, ocultar las publicaciones de los usuarios o eliminar las cuentas de los
                            usuarios sin previo aviso o notificación por cualquier motivo, incluyendo, entre otros, la
                            violación de estos Términos. Al enviarnos o transmitirnos contenido, imágenes, videos,
                            archivos de audio, sugerencias creativas, ideas, notas, conceptos, información u otros
                            materiales (colectivamente, "Materiales de envío"), o al publicar tales Materiales de envío
                            en los Sitios, usted nos otorga por la presente a nosotros y a nuestros designados, un
                            derecho mundial no exclusivo, sublicenciable, asignable, libre de regalías, perpetuo e
                            irrevocable de usar, reproducir, distribuir, modificar, crear trabajos derivados, realizar
                            públicamente, exhibir públicamente, realizar digitalmente, vender, ofrecer para la venta e
                            importación de tales Materiales de envío en cualquier medio ahora conocido o ideado en el
                            futuro para cualquier fin, comercial o de otro tipo, sin compensación para usted.
                        </p>

                        <br>
                        <h5>6. Transacciones comerciales.

                        </h5>

                        <p>
                            Ciertos productos o servicios pueden ponerse a la venta en los Sitios o a través de los
                            Servicios.

                        </p>

                        <br>
                        <h5>7. Contenido de terceros.
                        </h5>

                        <p>
                            Las opiniones, consejos, declaraciones, servicios, anuncios, ofertas u otra información o
                            contenido expresado o puesto a disposición a través de los Sitios por terceros, incluidos
                            los proveedores de información, son de sus respectivos autores o distribuidores y no de
                            Ogami. Ni Ogami ni ningún proveedor de contenido externo garantizan la precisión, integridad
                            o utilidad de los contenidos. Además, Ogami no se hace responsable de la exactitud y
                            confiabilidad de las opiniones, consejos o declaraciones hechas en los Sitios o Servicios
                            por alguien que no sea un representante autorizado de Ogami.
                            No nos hacemos responsables de su exposición al contenido de terceros en los Sitios o los
                            Servicios. Ogami no asume, y expresamente renuncia a toda obligación de obtener e incluir
                            información que no sea la que le proporcionan sus fuentes de terceros. Debe entenderse que
                            no abogamos por el uso de ningún producto o procedimiento descripto en los Sitios o a través
                            de los Servicios, ni somos responsables del mal uso de un producto o procedimiento debido a
                            un error tipográfico.

                        </p>
                        <br>
                        <h5>8. Sorteos, concursos y juegos.

                        </h5>

                        <p>

                            Si Ogami realiza un sorteo, concurso o juego en los Sitios, las reglas que los serán
                            publicadas. Al ingresar o al participar en ellos, acepta estar regido por esas reglas,
                            regulaciones y procedimientos. Recuerde leer las reglas detenidamente antes de participar.
                        </p>

                        <br>
                        <h5>9. Cuentas, contraseñas y seguridad.

                        </h5>
                        <p>
                            Si alguno de los Sitios o Servicios requiere que abra una cuenta, debe completar el proceso
                            de registro proporcionando a Ogami información actualizada, completa y precisa, según lo
                            solicite el formulario de registro correspondiente. Reconoce que, si proporciona información
                            falsa, inexacta, desactualizada o incompleta a Ogami, Ogami se reserva el derecho de
                            cancelar su acceso y uso de los Sitios o de los Servicios. Como parte del proceso de
                            registro, se le pedirá que seleccione un nombre de usuario y contraseña. Es completamente
                            responsable de mantener la seguridad y confidencialidad de su cuenta y de su contraseña.
                            ADEMÁS, ES COMPLETAMENTE RESPONSABLE DE TODAS LAS ACTIVIDADES Y CONDUCTAS, POR PARTE DE
                            USTED O DE OTRA PERSONA, REALIZADAS A TRAVÉS DE SU CUENTA. Acepta notificar a Ogami
                            inmediatamente sobre todo uso no autorizado de su cuenta u otra violación de seguridad. Ni
                            Ogami no será responsable de ninguna pérdida en la que pueda incurrir como resultado de que
                            otra persona use su contraseña o cuenta, ya sea con su conocimiento o sin este.

                        </p>

                        <br>
                        <h5>10. Descargo de responsabilidad sobre sitios de terceros vinculados.

                        </h5>
                        <p>
                            Los enlaces en los Sitios o Servicios le permitirán abandonar los Sitios o Servicios
                            particulares a los que está accediendo para acceder a un sitio de terceros vinculado (los
                            "Sitios Vinculados"). Ogami proporciona estos enlaces para su comodidad, pero no controlamos
                            ni respaldamos estos Sitios vinculados, ni Ogami ha revisado ni aprobado el contenido que
                            aparece en los Sitios vinculados. Ogami no es responsable de la legalidad, precisión o
                            idoneidad de ningún contenido, publicidad, productos, servicios u otros materiales que
                            aparecen en los Sitios vinculados o están disponibles a través de estos. Reconoce y acepta
                            que Ogami no será responsable, directa o indirectamente, de todo daño o pérdida causada o
                            presuntamente causada por el uso de cualquiera de los enlaces, contenido, bienes o servicios
                            disponibles en los Sitios Enlazados o a través de estos.


                        </p>
                        <br>
                        <h5>11. Tratos con terceros.
                        </h5>
                        <p>
                            Su participación, correspondencia o tratos comerciales con todo tercero que se encuentre en
                            nuestros Sitios y Servicios, incluidos, entre otros, anunciantes y otros usuarios, con
                            respecto al pago y la entrega de bienes y servicios específicos, y cualquier otro término,
                            condición, representación o garantía asociados con tales tratos, son únicamente entre usted
                            y el tercero. Acepta que Ogami no se responsabilizará por ninguna pérdida, daño u otros
                            asuntos de cualquier tipo incurridos como resultado de tales tratos.
                        </p>

                        <br>
                        <h5>12. Privacidad.

                        </h5>
                        <p>
                            La política de privacidad de Ogami con respecto a la recopilación y el uso de su información
                            de identificación personal se establece en Políticas de Privacidad, y se incorpora por
                            referencia en estos Términos de uso. AL ACCEDER A LOS SITIOS O SERVICIOS, RECONOCE QUE
                            ACEPTA NUESTRA POLÍTICA DE PRIVACIDAD.
                        </p>


                        <br>
                        <h5>13. Descargo de responsabilidad de garantías.

                        </h5>
                        <p>
                            LOS SITIOS Y LOS SERVICIOS, Y TODO CONTENIDO, HERRAMIENTAS, PRODUCTOS O SERVICIOS
                            VISUALIZADOS, ACCEDIDOS U OBTENIDOS EN LOS SITIOS Y SERVICIOS O A TRAVÉS DE ESTOS, SE
                            PROPORCIONAN "TAL CUAL", "SEGÚN DISPONIBILIDAD" Y SIN GARANTÍAS DE NINGÚN TIPO, SEAN
                            EXPRESAS, IMPLÍCITAS O ESTATUTARIAS, INCLUYENDO, ENTRE OTRAS, GARANTÍAS DE TÍTULO, NO
                            INFRACCIÓN, COMERCIABILIDAD O APTITUD PARA UN PROPÓSITO EN PARTICULAR. SIN LIMITAR LA
                            GENERALIDAD DE LOS ANTERIORES, OGAMI Y PROVEEDORES NO GARANTIZAN Y EXPRESAMENTE RECHAZAN LO
                            SIGUIENTE: (i) QUE SU USO DE LOS SITIOS O SERVICIOS Y SU ACCESO Y USO DE TODAS LAS
                            SIGUIENTES HERRAMIENTAS Y CARACTERÍSTICAS SERÁN ININTERRUMPIDOS, SIN ERRORES O SEGURAS; (ii)
                            QUE TODA INFORMACIÓN OBTENIDA EN ESTE ES EXACTA, CONFIABLE O COMPLETA; (iii) QUE LOS
                            DEFECTOS SERÁN CORREGIDOS; O (iv) QUE TODO SOFTWARE, SERVICIO, SITIO O SERVIDOR EN LOS QUE
                            SE ALOJEN LOS SITIOS O SERVICIOS ESTÁN LIBRES DE VIRUS Y DE OTROS COMPONENTES DAÑINOS. SU
                            USO DE LOS SITIOS Y LOS SERVICIOS Y DE TODA INFORMACIÓN O MATERIALES PROPORCIONADOS EN LOS
                            SITIOS Y SERVICIOS O A TRAVÉS DE ESTOS SON BAJO SU PROPIO RIESGO. NO HACEMOS
                            REPRESENTACIONES O GARANTÍAS SOBRE LOS PRODUCTOS O SERVICIOS VENDIDOS O PUBLICITADOS AQUÍ NI
                            SOBRE LA SATISFACCIÓN DE LAS REGULACIONES DEL GOBIERNO QUE REQUIEREN LA DIVULGACIÓN DE
                            INFORMACIÓN SOBRE LOS PRODUCTOS DE MEDICAMENTOS RECETADOS CON RESPECTO AL CONTENIDO QUE
                            APARECE EN LOS SITIOS O A TRAVÉS DE LOS SERVICIOS. NO HACEMOS REPRESENTACIONES O GARANTÍAS
                            CON RESPECTO A TODO TRATAMIENTO, ACCIÓN O APLICACIÓN DE MEDICINA, MEDICAMENTOS O LA
                            INFORMACIÓN OFRECIDA O PROPORCIONADA DENTRO DE LOS SITIOS O LOS SERVICIOS.

                        </p>

                        <br>
                        <h5>14. Limitación de responsabilidad.

                        </h5>
                        <p>
                            NI OGAMI,NI DIRECTORES, OFICIALES, EMPLEADOS, CONTRATISTAS, AGENTES O PATROCINADORES SE
                            RESPONSABILIZAN CON USTED U OTRA PERSONA POR TODA PÉRDIDA O LESIÓN, O DAÑO INDIRECTO,
                            INCIDENTAL, CONSECUENTE, ESPECIAL, EJEMPLAR, PUNITIVO BAJO CONTRATO, NEGLIGENCIA,
                            RESPONSABILIDAD ESTRICTA U OTRA TEORÍA DERIVADA O RELACIONADA DE ALGUNA FORMA DE (i) EL USO
                            O LA INCAPACIDAD DE USAR LOS SITIOS O LOS SERVICIOS; (ii) TODO CONTENIDO QUE APARECE EN LOS
                            SITIOS O LOS SERVICIOS; (iii) DECLARACIONES O CONDUCTAS PUBLICADAS O PUBLICADAS EN LOS
                            SITIOS O LOS SERVICIOS; (iv) TODO PRODUCTO O SERVICIO COMPRADO U OBTENIDO A TRAVÉS DE LOS
                            SITIOS O SERVICIOS; (v) TODA ACCIÓN TOMADA COMO RESULTADO DE UNA INFORMACIÓN DISPONIBLE EN
                            LOS SITIOS O SERVICIOS; (vi) TODO DAÑO CAUSADO POR LA PÉRDIDA DE ACCESO, ELIMINACIÓN, FALLA
                            DE ALMACENAMIENTO, FALTA DE RESPALDO O ALTERACIÓN DE CONTENIDO EN LOS SITIOS O SERVICIOS; O
                            (vii) TODO OTRO ASUNTO RELACIONADO CON LOS SITIOS O LOS SERVICIOS. EN NINGÚN CASO LA
                            RESPONSABILIDAD TOTAL DE OGAMI POR TODO DAÑO, PÉRDIDA Y CAUSA DE ACCIÓN EXCEDERÁ LA CANTIDAD
                            PAGADA POR USTED, SI APLICA, POR EL USO DE UN SITIO O SERVICIO.


                        </p>

                        <br>
                        <h5>15. Política de derechos de autor.


                        </h5>
                        <p>
                            Si cree de buena fe que los materiales alojados por Ogami infringen sus derechos de autor,
                            usted o su agente pueden enviar a Ogami un aviso solicitando que se elimine el material o se
                            bloquee el acceso a este.

                            Si cree que su trabajo se ha copiado de una manera que constituye una infracción de derechos
                            de autor, proporcione a Ogami la siguiente información:

                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">

                                Una firma electrónica o física de la persona autorizada para actuar en nombre del
                                propietario de los derechos de autor;

                            </li>
                            <li class="list-group-item">

                                identificación del trabajo protegido por derechos de autor que usted reclama que se ha
                                infringido;
                            </li>
                            <li class="list-group-item">

                                identificación de dónde se encuentra el material que afirma que está infringiendo en el
                                Sitio o Servicio razonablemente suficiente para permitirnos localizar el material;
                            </li>
                            <li class="list-group-item">

                                información razonablemente suficiente para permitirnos contactarlo, como su dirección,
                                número de teléfono y, si está disponible, su dirección de correo electrónico;
                            </li>
                            <li class="list-group-item">

                                una declaración suya de que cree de buena fe que el uso en disputa no está autorizado
                                por el propietario de los derechos de autor y

                            </li>
                            <li class="list-group-item">

                                una declaración suya, hecha bajo pena de perjurio, de que la información anterior en su
                                notificación es precisa y de que usted es el propietario de los derechos de autor o está
                                autorizado para actuar en nombre del propietario de los derechos de autor.

                            </li>
                        </ul>

                        <br>
                        <h5>16. Rescisión.
                        </h5>
                        <p>
                            Acepta que Ogami, a su exclusivo criterio, puede rescindir su contraseña, cuenta (total o
                            parcial) o el uso de los Sitios o Servicios, y eliminar y descartar el contenido de los
                            Sitios o Servicios en cualquier momento y por cualquier razón. Acepta que toda acción tomada
                            conforme a esta Sección puede hacerse efectiva sin previo aviso.
                        </p>

                        <br>
                        <h5>17. Actualizaciones.

                        </h5>
                        <p>
                            Podemos modificar estos Términos de uso en cualquier momento, según lo consideremos
                            apropiado. Si no está de acuerdo con los cambios a los Términos de uso, deberá descontinuar
                            el uso de los Sitios y Servicios, y, si se ha registrado como miembro, deberá cancelar su
                            registro. Su acceso continúo o uso de los Sitios o Servicios posterior a tal aviso implica
                            su aceptación de los Términos de uso modificados. Es su responsabilidad revisar los Términos
                            de Uso regularmente para estar informado acerca de tales modificaciones. Nos reservamos el
                            derecho de modificar o descontinuar los Sitios o Servicios con previo aviso o sin este. No
                            seremos responsables ante usted o ante un tercero si ejercemos nuestro derecho de modificar
                            o descontinuar los Sitios o Servicios. Si se opone a tales cambios, su único recurso será
                            dejar de acceder a los Sitios o Servicios. El acceso continúo a los Sitios o Servicios
                            después de la notificación de tales cambios significarán su conocimiento de estos y su
                            aceptación de los Sitios o Servicios modificados, y su uso de los nuevos Servicios se regirá
                            por estos Términos de Uso.
                        </p>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<!-- blog-area end -->

<app-footer></app-footer>