<!-- faq start -->
<div id="faq" class="faq-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 offset-lg-2 offset-xl-3">
                <div class="area-title text-center mb-70">
                    <h2 class="mb-20" style="font-weight: 400;">Las cuatros “C” de <span class="text-kunumi"> <b>
                                K U N U M I
                            </b>
                        </span> </h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="faq-wrapper mb-30 wow fadeInLeft" data-wow-delay=".3s">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-red" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b>C A R I Ñ O</b>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Mejores consejos, diversión, ofertas y
                                    promociones de servicios y productos.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-red collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <b>C U I D A D O</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Orientaciones confiables en un mismo lugar sobre maternidad, paternidad y crianza.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-red collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <b>C O M O D I D A D</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Descarga gratuita, lenguaje sencillo, disponibilidad de la información en todo
                                    momento y comercios mapeados.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfure">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-red collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                        <b>C O M U N I D A D</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfure"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Interacción con otros grupos de familias, organizaciones y empresas del rubro
                                    materno infantil.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="faq-img mb-30 wow fadeInRight" data-wow-delay=".3s">
                    <img src="assets/img/faq/faq.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq end -->