<!-- how-it-area-area start -->
<div class="how-it-area-area   pb-250">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 ">
                <div class="area-title text-center mb-60">
                    <h2 class="mb-15 text-kunumi">¡Cuidamos el amor infinito entre vos y tu bebé!</h2>

                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 ">
                <div class="video video-red wow fadeInUp" data-wow-delay="0.3s">
                    <img src="assets/img/bg/video.jpg" alt="">
                    <a class="popup-video" href="https://www.youtube.com/watch?v=9GbtOLJQda4?rel=0&autoplay=1'"><img
                            src="assets/img/icon/play.png" alt=""></a>
                </div>
            </div>
        </div>

    </div>
    <!-- how-it-area-area start -->