<!-- download area start -->
<div class="download-area red-gradient star-pattern pt-20 pb-20 mt-20">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-15 text-center text-white"><b>¡Juntos por la salud materno infantil!</b> </h2>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 ">
                <div class="area-title white-text text-center  mb-60">
                    <p style="     word-spacing: 3px;
                    font-size: 26px;
                    font-weight: 300;">Contamos con aliados estratégicos a nivel local e internaciónal que nos apoyan
                        para que padres y
                        madres puedan acceder a información de calidad.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="get-app download-app text-center">
                    <div class="row">

                        <div class="col-lg-4">

                            <img src="assets/img/aliados/biofilms_blanco.png" class="img imag-responsive "
                                style="padding: 40px;" alt="">
                        </div>
                        <div class="col-lg-4">

                            <img src="assets/img/aliados/word_connect_blanco.png" class="img imag-responsive "
                                style="padding: 40px;" alt="">
                        </div>
                        <div class="col-lg-4">

                            <img src="assets/img/aliados/Ideas_web_blanco.png" class="img imag-responsive "
                                style="padding: 40px;" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- download area end -->