<!-- screenshot-area  start -->
<div id="screenshots" class="screenshot-area  wow fadeInUp" data-wow-delay=".2s">
    <div class="app-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10">
                    <div class="area-title text-center mb-10">
                        <h2 class="mb-20" style="font-weight: 400;">¡Práctica y <span class="text-kunumi"> <b>
                                    Divertida!
                                </b>
                            </span> </h2>

                        <p style="font-size: 24px;
                            font-weight: 100;
                            line-height: 28px;
                            word-spacing: 10px;">
                            ¡Con más de 250 artículos informativos, registro de consultas, juego interactivo, red de
                            apoyo y mapeo de lo que necesitas!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="app-active app-red-active">
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app1.png"><img
                            src="assets/img/screenshot/app1.png" alt=""></a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app2.png"><img
                            src="assets/img/screenshot/app2.png" alt=""></a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app3.png"><img
                            src="assets/img/screenshot/app3.png" alt=""></a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app4.png"><img
                            src="assets/img/screenshot/app4.png" alt=""></a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app5.png"><img
                            src="assets/img/screenshot/app5.png" alt=""></a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app6.png">
                        <img src="assets/img/screenshot/app6.png" alt="">
                    </a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app7.png">
                        <img src="assets/img/screenshot/app7.png" alt="">
                    </a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app8.png">
                        <img src="assets/img/screenshot/app8.png" alt="">
                    </a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app9.png">
                        <img src="assets/img/screenshot/app9.png" alt="">
                    </a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app10.png">
                        <img src="assets/img/screenshot/app10.png" alt="">
                    </a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app11.png">
                        <img src="assets/img/screenshot/app11.png" alt="">
                    </a>
                </div>
                <div class="app-item">
                    <a class="popup-image" href="assets/img/screenshot/app12.png">
                        <img src="assets/img/screenshot/app12.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- screenshot-area  end -->